.title{
    text-align: center;
    color: #3d2a2b; 
    font-size: 48px;
    padding-bottom: 15px;
}

.base-form {
    background-color: #d8c4b1; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.form-title {
    text-align: center;
    color: #3d2a2b; 
    font-size: 48px;
    padding-bottom: 15px;
}

.form-label {
    display: block;
    margin-top: 15px;
    color: #4b3c35; 
}

.form-input {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #a88c7b; 
    border-radius: 5px;
}

.form-input:focus {
    border-color: #7f4e4a; 
    outline: none;
}

.form-button {
    margin-top: 25px;
    background-color: #7f4e4a; 
    color: #ffffff; 
    padding: 12px 20px;
    border: none; 
    border-radius: 5px; 
    font-size: 18px; 
    cursor: pointer;    
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-button:hover {
    background-color: #a88c7b; 
    transform: scale(1.05);
}

.form-button:active {
    transform: scale(0.95); 
}


.about-section, .team-section, .contact-section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-title, .team-title, .contact-title {
    font-size: 28px;
    color: #3d2a2b;
}

.about-description {
    font-size: 16px;
    line-height: 1.5;
}

.team-member {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.team-photo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.team-info h3 {
    margin: 0;
    font-size: 20px;
}